@model AskMe.Models.QuestionViewModel
@using CaptchaMvc.HtmlHelpers;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .question-title {
        width: 80% !important;
    }

    .question-details {
        width: 80% !important;
        min-height: 200px;
    }
    .field-validation-error {
        width: 82%;
        float: right;
    }
</style>
<div class="breadcrumbs">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Ask Question</h1>
            </div>
            <div class="col-md-12">
                <div class="crumbs">
                    <a href="#">Home</a>
                    <span class="crumbs-span">/</span>
                    <span class="current">Ask Question</span>
                </div>
            </div>
        </div><!-- End row -->
    </section><!-- End container -->
</div><!-- End breadcrumbs -->

@using (Html.BeginForm("Create", "Questions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <section class="container main-content">
        <div class="row">
            <div class="col-md-9">
                <div class="page-content ask-question">
                    <div class="boxedtitle page-title"><h2>Ask Question</h2></div>
                    <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque.</p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-style form-style-3" id="question-submit">
                        <form>
                            <div class="form-inputs clearfix">
                                <p>
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "required" })
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "question-title" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    <span class="form-description">Please choose an appropriate title for the question to answer it even easier .</span>
                                </p>
                                <p>                                   
                                    @Html.Label("Category", new { @class = "required" })
                                    @Html.DropDownListFor(model => model.QuestionsCategoryId, Model.Category, "Select Category", new { @class = "question-title" })
                                    @Html.ValidationMessageFor(model => model.QuestionsCategoryId,"", new { @class = "text-danger" })
                                    <span class="form-description">Please choose the appropriate section so easily search for your question .</span>
                                </p>
                                <label>Attachment</label>
                                <div class="fileinputs">
                                    <input type="file" class="file" name="file" id="file">
                                    <div class="fakefile">
                                        <button type="button" class="button small margin_0">Select file</button>
                                        <span><i class="icon-arrow-up"></i>Browse</span>
                                    </div>
                                </div>

                            </div>
                            <div id="form-textarea">
                                <p>
                                    @Html.LabelFor(model => model.QuestionDetail, htmlAttributes: new { @class = "required" })
                                    @Html.TextAreaFor(model => model.QuestionDetail, new { @class = "question-details" })
                                    @Html.ValidationMessageFor(model => model.QuestionDetail, "", new { @class = "text-danger" })
                                    <span class="form-description">Type the description thoroughly and in detail .</span>
                                </p>
                            </div>
                            <div id="form-inputs clearfix">
                                <p>
                                    @Html.Label("I Need Help in this Location *")
                                    @*<label class="required">I Need Help in this Location<span>*</span></label>*@
                                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "question-title" } })
                                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                    @*<input type="text" id="question-State" style="width: 82%;">*@
                                    <span class="form-description">Please choose an appropriate State for the question to answer.</span>
                                </p>
                                <p>
                                    <label class="required"></label>
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "question-title" } })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                    @*<input type="text" id="question-city" style="width: 82%;">*@
                                    <span class="form-description">Please choose an appropriate City for the question to answer.</span>
                                </p>
                            </div>
                            <div class="form-inputs clearfix">
                                <p class="question_poll_p">
                                    <label for="remember_answer-828">Notified</label>
                                    @Html.CheckBoxFor(model => model.Notification)
                                    @Html.ValidationMessageFor(model => model.Notification, "", new { @class = "text-danger" })
                                    @*<input type="checkbox" id="remember_answer-828" name="remember_answer" value="1" checked="checked">*@
                                    <span class="question_poll">Notified by e-mail at incoming answers.</span>
                                </p>
                                <p>
                                    <label for="remember_answer-828"></label>
                                    @Html.CheckBoxFor(model => model.GetCall)
                                    @Html.ValidationMessageFor(model => model.GetCall, "", new { @class = "text-danger" })
                                    @*<input type="checkbox" id="remember_answer-828" name="remember_answer" value="1" checked="checked">*@
                                    <span class="question_poll">I am interested to get call/message from Lawyer.</span>
                                </p>
                                <p>
                                    <label for="remember_answer-828"></label>
                                    @Html.CheckBoxFor(model => model.Published)
                                    @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                                    @*<input type="checkbox" id="remember_answer-828" name="remember_answer" value="1" checked="checked">*@
                                    <span class="question_poll">Active this question as a private question.</span>
                                </p>
                                <p>
                                    <div style="width:82%;float:right;">
                                        @Html.MathCaptcha()
                                    </div>
                                    
                                    <span class="Error" style="float:right;width:82%;color:#FF7361">  @ViewBag.ErrMessage </span>
                                </p>

                            </div>
                            <p class="form-submit">
                                <input type="submit" id="publish-question" value="Publish Your Question" class="button color small submit">
                            </p>
                        </form>
                    </div>
                </div><!-- End page-content -->
            </div><!-- End main -->
            <aside class="col-md-3 sidebar">
                <div class="widget widget_stats">
                    <h3 class="widget_title">Stats</h3>
                    <div class="ul_list ul_list-icon-ok">
                        <ul>
                            <li><i class="icon-question-sign"></i>Questions ( <span>20</span> )</li>
                            <li><i class="icon-comment"></i>Answers ( <span>50</span> )</li>
                        </ul>
                    </div>
                </div>

                <div class="widget widget_social">
                    <h3 class="widget_title">Find Us</h3>
                    <ul>
                        <li class="rss-subscribers">
                            <a href="#" target="_blank">
                                <strong>
                                    <i class="icon-rss"></i>
                                    <span>Subscribe</span><br>
                                    <small>To RSS Feed</small>
                                </strong>
                            </a>
                        </li>
                        <li class="facebook-fans">
                            <a href="#" target="_blank">
                                <strong>
                                    <i class="social_icon-facebook"></i>
                                    <span>5,000</span><br>
                                    <small>People like it</small>
                                </strong>
                            </a>
                        </li>
                        <li class="twitter-followers">
                            <a href="#" target="_blank">
                                <strong>
                                    <i class="social_icon-twitter"></i>
                                    <span>3,000</span><br>
                                    <small>Followers</small>
                                </strong>
                            </a>
                        </li>
                        <li class="youtube-subs">
                            <a href="#" target="_blank">
                                <strong>
                                    <i class="icon-play"></i>
                                    <span>1,000</span><br>
                                    <small>Subscribers</small>
                                </strong>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="widget">
                    <h3 class="widget_title">Recent Questions</h3>
                    <ul class="related-posts">
                        <li class="related-item">
                            <h3><a href="#">This is my first Question</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="clear"></div><span>Feb 22, 2014</span>
                        </li>
                        <li class="related-item">
                            <h3><a href="#">This Is My Second Poll Question</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="clear"></div><span>Feb 22, 2014</span>
                        </li>
                    </ul>
                </div>

            </aside><!-- End sidebar -->
        </div><!-- End row -->
    </section><!-- End container -->

}
